* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    width:100%
    height: 120px;
    background: pink;
}

.nav-grid {
    display: grid;
    grid-template-columns: 225px 1fr;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.logo h1 {
    font-size: 40px;
}

.logo span {
    font-size: 20px;
}

ul.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5%;
}

ul.menu li {
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    transition: .2s ease-in-out;
    padding: 5px 10px;
}

ul.menu li a:hover {
    background: violet;
    padding: 5px 10px;
    border-radius: 5px;
}

.content {
    width: 100%;
    height: auto;
    background: #fff;
}

.content-heading {
    font-size: 60px;
    color: #333;
}

.content-services {
    width: 100%;
    height: auto;
    margin-top: 60;
    margin-bottom: 50px;
}

.content-services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.content-services-item {
   border: 1px solid #4e4e4e; 
   padding: 20px;
   transition: .3s ease-in-out;
}

.content-services-item h3 {
    font-size: 25px;
    font-family: sans-serif;
    margin: 10px 0;
}

.content-services-item h4 {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
}

.content-services-item h5 {
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px 0;
}

.content-services-item form input {
    margin: 5px;
    padding: 5px;
}

/* Hover */

.content-services-item:hover {
    border: 1px solid #40aed7; 
    padding: 20px;
    background-color: aliceblue;
    cursor: grab;
 }
